<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>時間割 | {{ week_range }} - {{ class_name }}</title>
    <link rel="stylesheet" href="https://hanzawah.github.io/TimeTableMake/style.css">
    <link rel="stylesheet" href="https://hanzawah.github.io/TimeTableMake/print.css" media="print">
</head>
<body>
    <h1>{{ class_name }} の時間割 ({{ week_range }})</h1>
    <div id="timetable-content">
        {{ timetable_table_html | safe }}
    </div>
    <p><a href="../index.html">週の目次に戻る</a></p>

    <hr>
</body>
</html>