<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>時間割 | {{ week_range }}</title>
    <link rel="stylesheet" href="https://hanzawah.github.io/TimeTableMake/style.css">
    <link rel="stylesheet" href="https://hanzawah.github.io/TimeTableMake/print.css" media="print">
</head>
<body>
    <h1>{{ week_range }} の時間割</h1>
    <p>各クラスの時間割は以下から選択してください。</p>
    <ul id="class-list">
        {% for class_info in class_list %}
        <li><a href="./class/{{ class_info.filename }}">{{ class_info.name }}</a></li>
        {% endfor %}
    </ul>

    <hr>
</body>
</html>